.chart-container {
  margin-bottom: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.guide {
  font-size: 2.4rem;
}

.check-boxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 42.5em) {
  .check-boxes {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 34em) {
  .check-boxes {
    grid-template-columns: repeat(3, 1fr);
  }
}
