* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Hide the mobile nav bar overflow */
.wrapper {
  overflow-x: hidden;
  position: relative;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
